.user-container {
    display: flex;
    width: 400px;
    border: solid 1px grey;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.user-image-container{
    border-radius: 10px;
}
  
.user-name {
   grid-column: 2 / span 2; 
   font-weight: bold;
}
  
.user-picture {
    height: 100px;
    width: 80px;
    margin-right: 20px;
    padding: 5px;
    border-radius: 10px;
}
  
.user-cell {
    grid-column: 2;
}
  
.user-email {
    grid-column: 2;
}
.star-svg{
    height: 30px;
    width: 30px;
}
  
.user-rating {
    height: 2px;
    width: 50px;
}
